{% extends 'gemaBundle::layout.html.twig' %}

{% block gema_page -%}
<h3>Editar &Aacute;rea </h3>

    {{ form_start(edit_form) }}
<div class="form-group">
    <div>
    {{ form_label(edit_form.nombre) }}
    {{ form_widget(edit_form.nombre) }}
        </div>


<div style="margin-top: 58px"> <span style="font-weight: bold">Departamentos</span></div>
    <div>

        <ul class="departamentos"  data-prototype="{{ form_widget(edit_form.departamentos.vars.prototype) | e }}">
            {% for dep in edit_form.departamentos %}

           <li>
               {{ form_row(dep.nombre)}}
               {{ form_row(dep.localizacion)}}

           </li>
            {% endfor %}
        </ul>
        </div>



    {{ form_end(edit_form) }}
</div>
    {#{{form_widget(form.nombre,{ 'attr': {'class' : 'form-control nombre' } })}}#}


{% endblock %}
{% block custom_javascripts %}
    <script>
        $(document).ready(function () {
            $('<a href="{{path('area')}}" class="btn btn-default m-l-10 btn-cancel">Cancelar</a>').insertAfter('#gema_gemabundle_area_submit');




            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.departamentos');
            $collectionHolder.find('li').each(function() {
                addTagFormDeleteLink($(this));
            });
            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);
            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            $addTagLink.on('click', function(e) {
                e.preventDefault();
                addDepForm($collectionHolder, $newLinkLi);
            });


        });



        var $collectionHolder;
        // setup an "add a tag" link
        var $addTagLink = $('<a href="#" class="btn btn-success">Agregar Departamento</a>');
        var $newLinkLi = $('<li form-control></li>').append($addTagLink);

        function addDepForm($collectionHolder, $newLinkLi) {

            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');
            var newForm = prototype.replace(/__name__/g, index);
            $collectionHolder.data('index', index + 1);
            var $newFormLi = $('<li></li>').append(newForm);
            addTagFormDeleteLink($newFormLi);
            $newLinkLi.before($newFormLi);
        }


        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<div style="text-align: center"><a href="#" class="btn btn-default">Eliminar este Departamento</a><div>');
            $tagFormLi.append($removeFormA);
            $removeFormA.on('click', function(e) {
                e.preventDefault();
                $tagFormLi.remove();
            });
        }


    </script>
{% endblock %}
