    {% extends 'gemaBundle::layout.html.twig' %}

    {% block gema_page -%}
    <h2>Proveedor</h2>

    <div class="table-responsive">
        <table class="record_properties table table-hover">
            <thead>
                <tr>                                                                <th>Proveedor</th>
                                                                    <th>Email</th>
                                                                    <th>Direccion</th>
                                                                    <th>Telefono</th>
                        
                    <th colspan="3">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>                                        
                        <td>{{ entity.proveedor }}</td>
                                        
                        <td>{{ entity.email }}</td>
                                        
                        <td>{{ entity.direccion }}</td>
                                        
                        <td>{{ entity.telefono }}</td>
                    
    <td><a href="{{ path('proveedor_show', { 'id': entity.id }) }}"><i class="fa fa-eye"></i> Mostrar</a></td>
    <td><a href="{{ path('proveedor_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"></i> Editar</a></td>
    <td><a href="{{ path('proveedor_delete', { 'id': entity.id }) }}"><i class="fa fa-minus-circle"></i> Eliminar</a></td>

                </tr>
            </tbody>
        </table>
    </div>


    <ul class="pager">
        <li class="next"><a href="{{path('proveedor')}}"><i class="fa fa-list"></i>
                Listado de Proveedor
            </a>
        </li>
    </ul>


    {% endblock %}
