{% extends 'gemaBundle::layout.html.twig' %}
{% form_theme form 'gemaBundle:Form:theme.html.twig' %}
{% block gema_navbar_orden %}active{% endblock %}
{% block gema_breadcrumb %}
    <li><a href="{{ path('ordentrabajo') }}">Órdenes de Trabajo</a></li>
    <li><a href="{{path('procedimiento')}}">Procedimientos</a></li>
    <li class="active">Nuevo</li>
    {% endblock %}
    {% block gema_page -%}
    <div class="page-header">
        <h2>Crear Procedimiento</h2>
    </div>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_row(form.codigo) }}
        {{ form_row(form.nombre) }}
        {{ form_row(form.organizacionProductiva) }}
        {{ form_row(form.tiempoTotal) }}
        {{ form_row(form.acciones) }}
        <div class="col-xs-12">
            <section class="gemaCard">
                <header>Repuestos</header>
                <div class="cardBody">
                    <div class="cardIcon">
                        <i class="fa fa-plug"></i>
                    </div>
                    <div class="gema-block gema-show">
                        <ul id="Rep" class="Rep holder" style="list-style: none;" data-prototype="{{ form_widget(form.otReps.vars.prototype)|e }}">
                            {% for OtRep in form.otReps %}
                                <li>
                                    {{ form_row(OtRep) }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <footer class=""></footer>
            </section>
        </div>    
        <div class="col-xs-12 m-t-10">
            <section class="gemaCard">
                <header>Insumos</header>
                <div class="cardBody">
                    <div class="cardIcon">
                        <i class="zmdi zmdi-cutlery"></i>
                    </div>
                    <div class="gema-block gema-show">
                        <ul id="Rep" class="Rep holder" style="list-style: none;" data-prototype="{{ form_widget(form.ProIns.vars.prototype)|e }}">
                            {% for Ins in form.ProIns %}
                                <li>
                                    {{ form_row(Ins) }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <footer class=""></footer>
            </section>
        </div>
        <div class="col-xs-12 m-t-10">
            <section class="gemaCard">
                <header>Herramientas</header>
                <div class="cardBody">
                    <div class="cardIcon">
                        <i class="zmdi zmdi-roller"></i>
                    </div>
                    <div class="gema-block gema-show">
                        <ul id="Her" class="Her holder" style="list-style: none;" data-prototype="{{ form_widget(form.ProHers.vars.prototype)|e }}">
                            {% for Her in form.ProHers %}
                                <li>
                                    {{ form_row(Her) }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <footer class=""></footer>
            </section>
        </div>

        <div class="col-xs-12 m-t-10 m-b-20">
            <section class="gemaCard">
                <header>Recursos Humanos</header>
                <div class="cardBody">
                    <div class="cardIcon">
                        <i class="fa fa-street-view"></i>
                    </div>
                    <div class="gema-block gema-show">
                        <ul id="Her" class="Her holder" style="list-style: none;" data-prototype="{{ form_widget(form.ProPers.vars.prototype)|e }}">
                            {% for Per in form.ProPers %}
                                <li>
                                    {{ form_row(Per) }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <footer class=""></footer>
            </section>
        </div>
        {{ form_rest(form) }}

    </div> 
    {{ form_end(form) }}

{% endblock %}


{% block javascripts -%}
    {{ parent() }}
    <script>
        jQuery(document).ready(function () {
            // Get the ul that holds the collection of tags
            var collectionHolder = $('ul.holder');
            collectionHolder.find("li").each(function () {
                addTagFormDeleteLink($(this));
            });
            // setup an "add a tag" link
            // add the "add a tag" anchor and li to the tags ul
            collectionHolder.each(function () {
                var $addTagLink = $('<a href="#" class="add_element_link">Adicionar Elemento</a>');
                var $newLinkLi = $('<li></li>').append($addTagLink);
                $(this).append($newLinkLi);
                // count the current form inputs we have (e.g. 2), use that as the new
                // index when inserting a new item (e.g. 2)
                $(this).data('index', $(this).find(':input').length);
                var $ref = $(this);
                $addTagLink.on('click', function (e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();
                    // add a new tag form (see next code block)
                    addTagForm($ref, $newLinkLi);
                });
            });

            function addTagForm(collectionHolder, $newLinkLi) {
                // Get the data-prototype explained earlier
                var prototype = collectionHolder.data('prototype');
                // get the new index
                var index = collectionHolder.data('index');
                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm = prototype.replace(/__name__/g, index);
                // increase the index with one for the next item
                collectionHolder.data('index', index + 1);
                // Display the form in the page in an li, before the "Add a tag" link li
                var $newFormLi = $('<li></li>').append(newForm);
                $newLinkLi.before($newFormLi);
                addTagFormDeleteLink($newFormLi);
                $('.tag-select').chosen({
                    disable_search: false,
                    no_results_text: "No hay coincidencias",
                    placeholder_text_multiple: "Por favor, seleccione...",
                    placeholder_text_single: "Por favor, seleccione...",
                    width: '100%',
                    allow_single_deselect: true,
                    search_contains: true
                });
            }

            function addTagFormDeleteLink($tagFormLi) {
                var $removeFormA = $('<a href="#" class="delete_element_link"><i class="fa fa-close"></i></a>');
                $tagFormLi.append($removeFormA);
                $removeFormA.on('click', function (e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();
                    // remove the li for the tag form
                    $tagFormLi.remove();
                });
            }





        });

    </script>

{% endblock %}
{% block custom_javascripts %}
    <script>
        $(document).ready(function () {
            $('<a href="{{path('procedimiento')}}" class="btn btn-default m-l-10 btn-cancel">Cancelar</a>').insertAfter('#gema_gemabundle_procedimiento_submit');
            $('#gema_gemabundle_procedimiento_ProIns').parent().remove();
            $('#gema_gemabundle_procedimiento_ProHers').parent().remove();
            $('#gema_gemabundle_procedimiento_ProPers').parent().remove();
            $('#gema_gemabundle_procedimiento_otReps').parent().remove();
        });
    </script>    
{% endblock %}

