    {% extends 'gemaBundle::layout.html.twig' %}

    {% block gema_page -%}
    <h2>Listado de Actividad</h2>
    <div class="table-responsive">
        <table class="record_properties table table-hover">
            <thead>
                <tr>                                                                <th>Actividad</th>
                        
                    <th colspan="3">Acciones</th>
                </tr>
            </thead>
            <tbody>



                {% for entity in entities %}
                <tr>                                        
                        <td>{{ entity.actividad }}</td>
    <td><a href="{{ path('actividad_show', { 'id': entity.id }) }}"><i class="fa fa-eye"></i> Mostrar</a></td>
    <td><a href="{{ path('actividad_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"></i> Editar</a></td>
    <td><a href="{{ path('actividad_delete', { 'id': entity.id }) }}"><i class="fa fa-minus-circle"></i> Eliminar</a></td>

                    
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

            <ul class="pager">
            <li class="next"><a href="{{ path('actividad_new') }}">
                    Crear nuevo Actividad
                </a></li>
        </ul>
        {% endblock %}
